test/javasource/*/proxies/*
test/javasource/appcloudservices/
test/javasource/system/
test/javasource/core/
test/javasource/com/
test/deployment/
test/.classpath
test/.project
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
